<% @event_users.each do |user| %>
  <%if user.id == comment.user_id %>
    <td><b><%= link_to  user.user_name, url_for(user) %></b></td>
    <td><%= link_to comment.content, url_for(comment) %></td>
  <% end %>
<% end %>