<% @event_users.each do |user| %>
  <%if user.id == comment.user_id %>
    <% if user_signed_in?%>
      <td><b><%= link_to  user.user_name, url_for(user) %></b></td>
    <%else %>
      <td><b><%= link_to  user.user_name, user_session_path %></b></td>
    <%end %>
    <td><%= link_to comment.content, url_for(comment) %></td>
  <% end %>
<% end %>