<p id="notice"><%= notice %></p>

<h1>Event Files</h1>

<table width="30%">
  <thead>
    <tr>
      <th>File_dir</th>
      <th>File_type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_files.each do |event_file| %>
      <tr>
        <td><%= event_file.file_dir %></td>
        <td><%= event_file.file_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', :back %>
<br>


