<p id="notice"><%= notice %></p>

<h1>Notifications</h1>

<table>
  <thead>
    <tr>
      <th>Notification Type</th>
      <th>Notification</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.notification_type %></td>
        <td><%= notification.notification %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', :back %>
<br>

