

<h1>Message Boxes</h1>

<% @message_boxes.each do |message| %>
  <% if Invitation.where(id: message.invitation_id).first.user_id == current_user.id %>
    <div class="container p-3 my-3 border">
      <div class="container">
        <div class="row">
          <div class="col">
            <%= message.content %>
          </div>
          <div class="col">
            <%= link_to "Invitation", edit_invitation_path(Invitation.where(id: message.invitation_id).first.id) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

