<div class="row ml-0 mt-3"></div>
<h1>Available Public Events</h1>
<!-- el home solo muestra eventos que son publicos, se filtran los privados con el atributo private_event  -->
<div class="row">
  <% @events.each do |event| %>
    <% if event.private_event != true %>
      <%= render partial: 'events/event_tile', locals: { event: event } %>
    <% end %>
  <% end %>
</div>