<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<div class="row">
  <% @organizations.each do |organization| %>
    <%= render partial: 'organization_tile', locals: { organization: organization } %>
  <% end %>
</div>
